:root {
  --text: {{colors.on_background.default.hex}};

  --background: {{colors.background.default.hex}};

  --surface: {{colors.surface_container.default.hex}};
  --surface-hover: {{colors.surface_container_high.default.hex}};

  --primary: {{colors.primary_container.default.hex}};
  --primary-hover: {{colors.primary_fixed_dim.default.hex}};
  --primary-active: {{colors.primary_fixed.default.hex}};

  --secondary: {{colors.secondary_container.default.hex}};
  --secondary-hover: {{colors.secondary_fixed_dim.default.hex}};
  --secondary-active: {{colors.secondary_fixed.default.hex}};

  --accent: {{colors.tertiary_container.default.hex}};
}