@import "tailwindcss";

:root {
  --text: #eff4f5;

  --background: #0a0e0f;

  --surface: #141b1f;
  --surface-hover: #1f292e;

  --primary: #3c545d;
  --primary-hover: #46626d;
  --primary-active: #50707c;

  --secondary: #2a283e;
  --secondary-hover: #35324e;
  --secondary-active: #3f3c5d;

  --accent: #5c4a73;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: Cantarell, sans-serif !important;
}
